.pagination {
    display: flex;
    gap: 10px;
  }
  
  .link,
  .activeLink,
  .arrow-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
  }
  
  .link {
    background-color: var(--bg-component-color);
  }
  
  .activeLink {
    background-color: green;
  }
  
  .arrow-link {
    background-color: var(--bg-component-color);
  }
  
  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--bg-component-color);
  }