.flyout {
    position: fixed;
    bottom: 10px;
    width: 50%;
    background-color: var(--component-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px -1px 7.5px black;
    
  }

  .flyout.fade-in {
    animation: fade-in 0.5s ease-in-out;
  }
  
  .flyout.fade-out {
    animation: fade-out 0.5s ease-in-out;
  }
  

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
  .flyout p {
    color: var(--text-color);
    margin: 0;
  }
  
  .flyout button {
    margin-left: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .flyoutDownload{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--bg-color);
  }
  .flyout-download:hover {
    border-color: #646cff;
  }
  .flyout-download:focus,
  .flyout-download:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }