.container{
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  
  .searchSection{
    background-color: var(--component-color);
    display: flex;
    justify-content: center;
    padding-inline: 100px;
    padding-block: 10px;
    gap:  2vw;
  }
  
  .resultsSection{
    align-items: center;
    display: flex;
    padding-block: 20px;
    justify-content: space-between;
    padding-inline: 50px;
    flex-direction: column;
    gap: 10px;
    flex: 2;
  }
  
  .contentArea{
    display: flex;
  }

  .detailsArea{
    display: flex;
    flex: 0.5;
    width: 20%;
    margin-top: 20px;
    padding-left: 30px;
    border-radius: 8px;
    background-color: var(--component-color);
  }

  .Loader{
    background-color: white;
  }
